{{ $hosts := groupByLabel $ "virtual.host" }}

{{ if not $hosts }}
127.0.0.1:2015
log stdout
errors stderr

{{ else }}

{{ $host := trim (index groupByLabel $ "virtual.host") }}

{{ $tlsEnv := trim (index groupByLabel $ "virtual.tls") }}
{{ $tlsOff := eq $tlsEnv "" }}

{{ $email := trim (index groupByLabel $ "virtual.email") }}
{{ $emailOff := eq $email "" }}

{{ $fastcgi := trim (index groupByLabel $ "virtual.fascgi") }}
{{ $fastcgiOff := eq $fastcgi "" }}

{{ $extension := trim (index groupByLabel $ "virtual.extension") }}

{{ $root := trim (index $groupByLabel $ "virtual.root") }}

{{ if $tlsOff }}http://{{ end }}{{ $host }}

root /usr/html/{{ $root }}

   {{ if $tlsOff }} tls off {{ else }}

       {{ if $emailOff }}
       tls self_signed

       {{ else }}

       tls {{ $email }}

       {{ end }}

   {{ end }}

gzip
browse

    log /var/log/caddy/access.log {
        rotate_size 50 # Rotate after 50 MB
        rotate_age  30 # Keep rotated files for 30 days
        rotate_keep 5  # Keep at most 5 log files
    }

    errors /var/log/caddy/error.log {
        404 404.html
        500 500.html
        rotate_size 50 # Rotate after 50 MB
        rotate_age  30 # Keep rotated files for 30 days
        rotate_keep 5  # Keep at most 5 log files
    }

    rewrite {
            to {path} {path}/ /index.php?{query}
    }

{{ if not $fastcgiOff }}

    fastcgi / {{$fastcgi}} {{$extension}} {
       pool 1
       index index.php
    }

{{ end }}

{{ end }}


import /usr/local/etc/caddy/conf.d/*.conf